
@font-face {
  font-family: Roboto;
  src: url("../../../fonts/Roboto-Regular.ttf") format("truetype");
}



#CVbutton {
    position: fixed;
    right: 5px;
    bottom: 5px;
    font-family: Roboto, serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    padding: .5rem 1rem .5rem 1rem;
    transition: 300ms;
    z-index: 5;
    background: linear-gradient(0.3turn, #6454f5, #4067ef);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#CVbutton:hover {
    transition: 300ms;
    font-size: 1.7rem;
}


@font-face {
  font-family: Roboto;
  src: url("../../../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
    font-family: Roboto, serif;
}
body {
    all: unset;
}

.school-list {
    position: absolute;
    top: 80px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    column-gap: 4%;
}

.school {
    background-color: #202020BB;
    width: 90%;
    padding: 2rem 1rem 2.5rem 1rem;
    margin: 20px 10px 20px 10px;
    border-style: solid;
    border-radius: 3px;
    border-color: #202020BB;
    border-width: 2px;
    transition: 500ms;
    overflow-y: clip;
}

.school:hover h1 {
    color: #6454f5;
    transition: 700ms;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    column-gap: 3rem;
}

.school:hover {
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    border-color: #4067efFF;
    transition: 300ms;
}

.school h1 {
    color: #f3eedd;
    font-size: 1.6rem;
}

.school h2 {
    color: #f3eedd;
    font-size: 1.5rem;
}
.school {
    color: #f3eedd;
    font-size: 1.2rem;
    text-align: justify;
    text-justify: inter-word;
}

.media-list {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.school h6 {
    color: #e7cccc;
    font-size: 1rem;
    margin: 15px 0 0 0;
    font-weight: bold;
    width: min(15rem, 35%);
    text-align: right;
}
