
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
    font-family: Roboto, serif;
}
body {
    all: unset;
}


.project-list {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.project {
    background-color: #202020;
    padding: 20px 20px 20px 20px;
    margin: 20px 10px 20px 10px;
    width: auto;
    border-radius: 4px;
}

.project h1 {
    color: #f3eedd;
    font-size: 30px;
}

.project h2 {
    color: #f3eedd;
    font-size: 16px;
}
.project * {
    color: #f3eedd;
    font-size: 12px;
}

.project img {
    max-width: 85%;
    height: auto;
    margin: 10px 10px 10px 10px;
}

.project-descr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.double {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #f3f3f3;
}