
@font-face {
  font-family: Roboto;
  src: url("../../../fonts/Roboto-Regular.ttf") format("truetype");
}



html {
    background-color: #191919;
    font-size: 15px;
    font-family: Roboto, serif;
}

@media screen and (max-width: 500px) {
     html {
        font-size: 11px;
    }
}

body {
    all: unset;
}

main {
    z-index: -1;
}

.project-list {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    column-gap: 4%;
}

.project {
    background-color: #202020BB;
    max-width: 60%;
    min-width: min(calc(100% - 4rem), 500px);
    height: 40rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    border-style: solid;
    border-radius: 3px;
    border-color: #202020BB;
    border-width: 2px;
    transition: 500ms;
    overflow: scroll;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 4%;
}

.project:hover {
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    border-color: #4067efFF;
    transition: 300ms;
}


.project[state=focused] {
    background-color: #202020FF;
    height: calc(100vh - 2rem - 60px);
    max-width: 100vw;
    border-style: solid;
    border-radius: 3px;
    border-color: #4067efFF;
    border-width: 2px;
    transition: 300ms;
    flex-grow: 3;

}

.project[state=unfocused] {
    transition: 500ms;
}


.project:hover[state=focused] {
    border-style: solid;
    cursor: default;
    border-radius: 3px;
    border-width: 2px;
    border-color: #4067efFF;
    transition: 300ms;
);
}

#empty {
    height: 100vh;
}

.project h1 {
    color: #faf8f4;
    font-size: 30px;
}

.project h2 {
    color: #faf8f4;
    font-size: 24px;
}
.project * {
    color: #faf8f4;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

.media-list {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

*[state=shown] {
    transition: 300ms;
}

*[state=hidden] {
    transform: translateY(200vh);
    transition: 300ms;
}

*[state=hidden][reverse] {
    display: initial;
    transition: 300ms;
    transform: translate(0, 0) scale(1%);
}

*[state=shown][reverse] {
    display: none;
    transform: translate(-200vh, 0);
    transition: 300ms;
}

[small] {
    max-width: 200px;
}

.project img {
    max-width: 40%;
    min-width: min(500px, 95%);
    width: auto;
    height: auto;

    margin: 5px 5px 5px 5px;
}

.project * a {
    background-color: #ffffff22;
    border-style: solid;
    border-color: #00000000;
    border-width: 2px;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 5px;
    font-size: 15px;
    text-decoration: None;
    position: relative;
    float: right;
    transition: 300ms;
}

.project * a:hover {
    background-color: #ffffff22;
    border-style: solid;
    border-color: #ec6957;
    border-width: 2px;
    border-radius: 6px;
    transition: 300ms;

}

.project h6 {
    color: #c0b1e8;
    font-size: 17px;
    margin: 15px 0 0 0;
    font-weight: bold;
}

.project-descr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 3rem 1rem 3rem;
    max-height: 100%;
}



